[submodule "gpio-adapter"]
	path = gpio-adapter
	url = https://github.com/mozilla-iot/gpio-adapter
	branch = master
[submodule "serial-adapter"]
	path = serial-adapter
	url = https://github.com/mozilla-iot/serial-adapter
	branch = master
[submodule "thing-url-adapter"]
	path = thing-url-adapter
	url = https://github.com/mozilla-iot/thing-url-adapter
[submodule "zigbee-adapter"]
	path = zigbee-adapter
	url = https://github.com/mozilla-iot/zigbee-adapter
	branch = master
[submodule "zwave-adapter"]
	path = zwave-adapter
	url = https://github.com/mozilla-iot/zwave-adapter
	branch = master
[submodule "microblocks-adapter"]
	path = microblocks-adapter
	url = https://github.com/mozilla-iot/microblocks-adapter
[submodule "homekit-adapter"]
	path = homekit-adapter
	url = https://github.com/mozilla-iot/homekit-adapter
[submodule "lg-tv-adapter"]
	path = lg-tv-adapter
	url = https://github.com/mozilla-iot/lg-tv-adapter
[submodule "enocean-adapter"]
	path = enocean-adapter
	url = https://github.com/tim-hellhake/enocean-adapter
[submodule "mi-flora-adapter"]
	path = mi-flora-adapter
	url = https://github.com/tim-hellhake/mi-flora-adapter
[submodule "sensor-tag-adapter"]
	path = sensor-tag-adapter
	url = https://github.com/tim-hellhake/sensor-tag-adapter
[submodule "medisana-ks250-adapter"]
	path = medisana-ks250-adapter
	url = https://github.com/tim-hellhake/medisana-ks250-adapter
